*{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;    
}
:root {
	--altura-nav-elementos : 2.5rem;
	--margin-nav-elementos : 5rem;
}
header {
    height: var(--altura-nav-elementos);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.logoGithub{
    float: right;
    height: var(--altura-nav-elementos);
    margin-right: var(--margin-nav-elementos);
}
.logoAlura{
    float: left;
    height: var(--altura-nav-elementos);
    margin-left: var(--margin-nav-elementos);
}
main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;    
}
.text-area {
    height: 400px;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
    border-radius: 10px;
}
::placeholder { color: #0A3871; }
  .text-area:focus {
      outline: none;
    }
.mensaje{
    height: 630px;
    background: white;
    background-image: url(../img/Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensaje:focus {
    outline: none;
}
.botones{
    display: flex;
    margin-top: 18px;
}
.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 85px;
    margin-left: 30px;
    width: 425px;
}
.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 85px;
    width: 425px;
}
.copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 85px;
    margin-left: 120px;
    margin-top: 565px;
    position: absolute;
    width: 425px;
}
.informacion {
    color: #495057;
    font-size:18px;
    text-align: center;
}
footer {
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0A3871;
	position: relative;
	top: 10%;
}
.footer-container {
	text-align: center;
}
.footer-container p {
	/* padding: .2rem; */
	font-size: .8rem;
    color: white;
}
a {
	color: inherit;
    text-decoration: none;
}